<mat-toolbar>
    <mat-toolbar-row class="gap-between">
        <div class="navItems-logo">
            <button mat-button color="primary">
                <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
                <span class="logo">Technical Babaji</span>
            </button>
            <div *ngIf="!deviceXs">
                <button mat-button color="primary">
                    Home
                </button>
                <button mat-button color="primary"> 
                    Contact Us
                </button>
                <button mat-button color="primary">
                    About Us
                </button>
            </div>
        </div>
        <div>
            <button mat-icon-button>
                <mat-icon *ngIf="deviceXs">more_vert</mat-icon>
                <span *ngIf="!deviceXs">Menu</span>
            </button>
        </div>
    </mat-toolbar-row>

    <mat-toolbar-row *ngIf="deviceXs"  class="navItem-space">
            <button mat-button color="primary">
                Home
            </button>
            <button mat-button color="primary"> 
                Contact Us
            </button>
            <button mat-button color="primary">
                About Us
            </button>
    </mat-toolbar-row>
</mat-toolbar>